<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
    <title>Age of Empires - civilizacion</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css'>
</head>
<style type="text/css">
    body{
      background-image: url("../static/font.jpg");
        }
</style>
<body>
    <div class="container">
      <div class="height: 300px;
      width: 300px;">
        <div class="col s4">
          <div class="card black darken-2">
            <div class="card-image">
              <img src="../static/personajes.jpg" width="50" height="150" />
            </div>
            <div class="card-content white-text">
              <span style="border:6px solid rgb(248, 248, 248);">Civilizaciones</span>
              <p>Información acerca de Civilizaciones</p>
            </div>
            <div class="card-action">
              <a href="/civilizations">Ir a Civilizaciones</a>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card black darken-2">
            <div class="card-image ">
              <img src="../static/tecnologias.png" width="50" height="150" />
            </div>
            <div class="card-content white-text">
              <span style="border:6px solid rgb(248, 248, 248);">Tecnologías</span>
              <p>Información acerca de Tecnologías</Tem></p>
            </div>
            <div class="card-action">
              <a href="/tech">Ir a Tecnologías</a>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card black darken-2">
            <div class="card-image ">
              <img src="../static/estructuras.jpg" width="50" height="150" />
            </div>
            <div class="card-content white-text">
              <span style="border:6px solid rgb(248, 248, 248);">Estructuras</span>
              <p>Información acerca de Estructuras</p>
            </div>
            <div class="card-action">
              <a href="/structures">Ir a Estructuras</a>
            </div>
          </div>
        </div>
      </div>
        <div class="col s4">
          <div class="card black darken-2">
            <div class="card-image">
              <img src="../static/unidades.gif" width="50" height="150" />
            </div>
            <div class="card-content white-text">
              <span style="border:6px solid rgb(248, 248, 248);">Unidades</span>
              <p>Información acerca de Unidades</p>
            </div>
            <div class="card-action">
              <a href="/units">Ir a Unidades</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="height: 300px;
      width: 300px;>
        
<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js'></script>
</body>
</html>